.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  background-color: white;
  border-radius: 10px;
  animation: meals-appear 1s ease-out forwards;
  padding: 20px;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.meals ul li {
  border-bottom: 1.5px solid rgb(224, 217, 217);
}
.meals ul li h4:first-child {
  margin-bottom: 0px;
}
.meals ul li p:nth-child(2) {
  font-style: italic;
  font-weight: 350;
  margin-top: 0px;
  margin-bottom: 0px;
}
.meals ul li p:nth-child(3) {
  font-weight: 550;
  color: brown;
  margin-top: 0px;
}
@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
